.profile-layout {
    margin: -2rem -1rem; // Compensate for main-content padding
    min-height: calc(100vh - 64px); // Subtract header height
    display: flex;
    width: 100%;
    flex-direction: column;
  
    mat-sidenav-container {
      flex: 1;
      height: 100%;
    }
  }
  
  .profile-content {
    padding: 2rem;
    box-sizing: border-box;

    height: 100%;
    overflow-y: auto;
  }