<app-header></app-header>
<div class="profile-layout">
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <app-profile-sidebar [selectedSection]="selectedSection"
                (sectionChange)="onSectionChange($event)"></app-profile-sidebar>
        </mat-sidenav>
        <mat-sidenav-content class="profile-content">
            @if (selectedSection === 'profile') {
                <app-profile-main></app-profile-main>
            }
            @else if (selectedSection === 'preferences') {
                <app-preferences></app-preferences>
            }
            @else if(selectedSection === 'settings'){
                <app-settings></app-settings>
            }
            @else if (selectedSection === 'security') {
                <app-security></app-security>
            }
            
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>


<app-footer></app-footer>