
<div class="profile-layout">
    <button class="sidebar-toggle" (click)="isSidebarOpen = !isSidebarOpen" aria-label="Toggle sidebar">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-sidenav-container style="top: 2rem;">
        <mat-sidenav class="profile-sidebar-container" 
                     [mode]="'over'" 
                     [opened]="isSidebarOpen">
            <app-profile-sidebar 
                [selectedSection]="selectedSection"
                (sectionChange)="onSectionChange($event)"></app-profile-sidebar>
        </mat-sidenav>
        <mat-sidenav-content class="profile-content">
            @if (selectedSection === 'profile') {
                <app-profile-main></app-profile-main>
            }
            @else if (selectedSection === 'preferences') {
                <app-preferences></app-preferences>
            }
            @else if(selectedSection === 'settings') {
                <app-settings></app-settings>
            }
            @else if (selectedSection === 'security') {
                <app-security></app-security>
            }
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>