<app-header></app-header>

<section class="contact-page">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-center">
            <h1>Contact Us</h1>
            <p class="lead text-muted">Have questions? We'd love to hear from you. Send us a message and we'll respond as soon as possible.</p>
          </div>
          <app-contact-form></app-contact-form>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>